<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>{{ data['title'] }}</title>
      <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    </head>
    <body>

    <h1>
        Add a new car to the system
    </h1>
    <form action="/save_car" method="post" name="carname">
          Make: <input type="text" name="carmake" placeholder="Enter the Car's make"/><br/>
          Model: <input type="text" name="carmodel" placeholder="Enter the Car's model"/><br/>
          Status: <input type="text" name="carstatus" placeholder="Enter the Car's status"/><br/>
          Location: <input type="text" name="carlocation" placeholder="Enter the Car's location"/><br/>
        Registration nr: <input type="text" name="carreg" placeholder="Enter the Car's registration number"/><br/>
        Year: <input type="text" name="caryear" placeholder="Enter the Car's year"/><br/>
        Capacity: <input type="text" name="carcapacity" placeholder="Enter the Car's capacity"/><br/>
      
      <br/>
      <button type="submit">Add car</button>
    </form>

    <h2>Information from database</h2>
    <h3>Care Name: {{ data['name'] }}</h3>
    <h3>Car Model: {{ data['model'] }}</h3>
    <h3>Car Status: {{ data['status'] }}</h3>
    <h3>Car Location: {{ data['location'] }}</h3>

    <br/>

    <h1>
        Update or delete car
    </h1>
    <form action="/update_delete_car" method="post" name="UpdateDeleteCar">
    Enter registration nr of car: <input type="text" name="carreg" placeholder="Enter the Car's registration number"/><br/>
      
      <br/>
      <button type="submit">Find car</button>
    </form>

    <h2>Information from database</h2>
        <h3>Name: {{ data['name'] }}</h3>
        <h3>Model: {{ data['model'] }}</h3>
        <h3>Status: {{ data['status'] }}</h3>
        <h3>Location: {{ data['location'] }}</h3>
      
    <br/>

    <h1>
      Find customer
    </h1>

    <form action="/find_customer" method="get" name="FindCustomer">
        Name: <input type="text" name="customername" placeholder="Enter name of customer"/><br/>
        Age: <input type="text" name="customerage" placeholder="Enter customer age"/><br/>
        Adress: <input type="text" name="customeradress" placeholder="Enter customer adress"/><br/>
       
        <br/>
        <button type="submit">Find customer</button>
    </form>

    <h2>Information from database</h2>
    <h3>Customer Name: {{ data['name'] }}</h3>
    <h3>Customer Age: {{ data['age'] }}</h3>
    <h3>Customer Adress: {{ data['adress'] }}</h3>
    <h3>Car Location: {{ data['location'] }}</h3>

  <br/>

    <h1>
      Find employee
    </h1>

    <form action="/find_employee" method="get" name="FindEmployee">
        Name: <input type="text" name="employeename" placeholder="Enter employee name"/><br/>
        Adress: <input type="text" name="employeeadress" placeholder="Enter employee adress"/><br/>
        Branch: <input type="text" name="employeebranch" placeholder="Enter employee branch"/><br/>
        
        <br/>
        <button type="submit">Find employee</button>
    </form>

    <h2>Information from database</h2>
    <h3>Employee Name: {{ data['name'] }}</h3>
    <h3>Employee Adress: {{ data['adress'] }}</h3>
    <h3>Employee Branch: {{ data['branch'] }}</h3>

  </body>

</html>
